/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
  font-family:'源泉圓體 TTF Light', '源泉圓體 TTF ExtraLight', '源泉圓體 TTF Regular', '源泉圓體 TTF Medium','cwTeXYen',sans-serif,'Century Gothic','microsoft jhengHei';
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body{
  background: #FFFFFF;
  color: #424242;
  overflow-y: scroll;
  overflow-x: hidden;
}
a{
  color: #FFFFFF;
  text-decoration: none;
}
.wrap{
  max-width: 1200px;
  margin: auto;
}
.header{
  height: 60px;
  width: 100%;
  background:#FFFFFF;
  position:fixed;
  top: 0;
  z-index: 100;
}
.logo{
  float: left;
  margin-top:10px;
  margin-left:10px;
}
.content{
  padding: 1em;
  line-height: 1.8;
}
.content p{
  margin-bottom: 1em;
}
.menu {
    /*隱藏選單開始*/
    max-height: 0px;
    overflow: hidden;
    /*隱藏選單結束*/
    transition: max-height 1s;
    margin-top: 1px;
    /*絕對定位疊在網頁上*/
    position: absolute;
    z-index: 10;
    /*header 80px+1px boder 線條*/
    top: 59px;
    left: 0;
    right: 0;
    background:rgba(255,255,255,0.85);
	display: flex;
	flex-wrap: wrap;
	justify-content:center;
  }
.menu li{
	padding:0.5em;
	margin-inline-start: -2%;
  }
  .menu li a{
    transition: all 0.05s;
  }
  .menu li a:hover{
    background:rgba(253,239,228,0.50);
  }
  .showmenu{
    display: block;
    float: right;
    margin: 1em;
  }
  /*jQ點擊後動態在 body 加上 class */
  .menu-show .menu{
    max-height: 500px
  }
.menuH{
	height: 60px;
}
.menuL{
	height: 40px;
}
.end{
	width: 100%;
	height:175px;
	bottom: 0;
	background-color: #16A196;
	display: flex;
	flex-wrap: wrap;
	justify-content:center;
}
.enddiv{
	margin-left: 2%;
	margin-right: 2%;
	margin-top: auto;
	margin-bottom: auto;
}
.endP{
	height: 50px;
}
.top{
	position:fixed;
	right: 20px;
	bottom: 20px;
	opacity: 0.7;
    width: 15%;
}
.align-left {
    float:left;
    margin-right:20px;
}
.align-right {
      float:right;
      margin-left:20px;
    }
.slide-in {
    opacity:0;
    transition:all .8s;
	margin: auto;
	max-width:80%;
	z-index:-1;
}
.align-left.slide-in {
    transform:translateX(-30%) scale(0.95);
}
.align-right.slide-in {
      transform:translateX(30%) scale(0.95);
    }
.slide-in.active {
    opacity:1;
    transform:translateX(0%) scale(1);
}
div,ul,li,a,span,img{margin:0;padding:0;}
#banner { 
    overflow:hidden; 
    width:100%;  
    position:absolute;
	top: 60px;
    float:left;
    padding-bottom: 10px;
}
#tab>img:not(:first-child){ 
    display:none; 
}
.lunbo_btn {
    height: 15px;
    width: 100%;
    margin: 0px auto;
    margin-top: -20px;
    position: absolute;
    z-index: 3;
    text-align: center;
}
.lunbo_btn span {
    width:4px;
    height:4px;
    display:inline-block;
    background-color:#b4b5b7;
    border-radius:50%;
    margin:0px 2px;
    cursor:pointer;
}
.lunbo_btn span.hover {
    background-color:#ffb23c;
}
.arrow {
    display: none;
    width: 30px;
    height: 60px;
    background-color: rgba(0,0,0,0.4);
    position: absolute;
    top: 50%;
    margin-top: -30px;
    z-index:11;
}
.arrow span {
    display: block;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff;
}
.slider_left {
    margin: 25px 0 0 10px;
    transform: rotate(45deg);
}
.prve {
    left: 0;
}
.next {
    right: 0;
}
.slider_right {
    margin: 25px 0 0 5px;
    transform: rotate(-135deg);
}
.arrow:hover{background:#444;}
#banner:hover .arrow{display:block;}
.tabImg{
	max-width: 100%;
}

@media (min-width: 769px) /*會跟logo大小有關 */{
.menu {
    /*隱藏選單開始*/
    max-height: 0px;
    overflow:visible;
    /*隱藏選單結束*/
    transition: max-height 1s;
    margin-top: 1px;
    /*絕對定位疊在網頁上*/
    position:relative;
    z-index:0;
    /*header 80px+1px boder 線條*/
    top: 13px; 
    left: 0;
    right: 0;
	display: flex;
	justify-content:flex-end;
  }
	.header{
		height: 100px;
		max-width:1200px;
	}
	.logo{
		margin-top: 20px;
	}
  .menu li a{
  display: block;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  }
.content{
  padding: 1em;
  line-height: 1.8;
}
.content p{
  margin-bottom: 1em;
}
.walk{
		margin-top: 100px;
	}
/*在PC上隱藏漢堡選單*/
.showmenu{
  display: none;
}
	
	.menuH{
		height: 70px;
	}
	.menuL{
		height: 70px;
	}
	.end{
	width: 100%;
	height:175px;
	background-color: #16A196;
}
	.top{
		width: 70px;
		margin-right: 5%;
	}

	.lunbo_btn {
    height: 15px;
    width: 100%;
    margin: 0px auto;
    margin-top: -25px;
    position: absolute;
    z-index: 3;
    text-align: center;
}
.lunbo_btn span {
    width:10px;
    height:10px;
    display:inline-block;
    background-color:#b4b5b7;
    border-radius:50%;
    margin:0px 2px;
    cursor:pointer;
}
}


